@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
	scroll-behavior: smooth !important;
}

.MuiTypography-root {
	font-family: 'Open Sans', sans-serif !important;
}
.MuiDivider-root::after,
.MuiDivider-root::before {
	border-color: white !important;
}

@font-face {
	font-family: 'redwing-light';
	src: local('Redwing-Light'),
		url('../fonts/Redwing-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'redwing-medium';
	src: local('Redwing-Medium'),
		url('../fonts/Redwing-Medium.otf') format('opentype');
	font-weight: 500;
}

.redwing-light {
	font-family: 'redwing-light' !important;
}
.redwing-medium {
	font-family: 'redwing-medium' !important;
}
