.exam-1 {
	background: -webkit-linear-gradient(45deg, #4596fb, #e649f5);
	background: -webkit-linear-gradient(45deg, #145277, #83d0cb);
	background: -webkit-linear-gradient(45deg, #08203e, #557c93);
	background: -webkit-linear-gradient(45deg, #e4e7e4, #0a1647);
	background: -webkit-linear-gradient(45deg, #00ff87, #60efff);
	background: -webkit-linear-gradient(45deg, #42047e, #07f49e);
	background: -webkit-linear-gradient(45deg, #B2FEFA, #0ED2F7);
}
